<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.SampleTfChunkMapper">
    <resultMap id="BaseResultMap" type="com.spring.boot.pojo.SampleTfChunk">
        <result column="f_sample_id" jdbcType="VARCHAR" property="sampleId"/>
        <result column="f_tf" jdbcType="VARCHAR" property="tf"/>
        <result column="f_p_value" jdbcType="DOUBLE" property="pValue"/>
        <result column="f_adjusted_p_value" jdbcType="VARCHAR" property="adjustedPValue"/>
        <result column="f_log2_fold_change" jdbcType="DOUBLE" property="log2FoldChange"/>
    </resultMap>
    <select id="selectSampleIdByTf" resultType="java.lang.String">
        SELECT f_sample_id FROM t_sample_tf_${signalId} WHERE f_tf = #{tf}
    </select>
    <select id="selectSampleIdByTfList" resultType="java.lang.String">
        <foreach collection="signalIdSampleTfListMap" index="key" item="values" separator=" UNION ">
            SELECT f_sample_id FROM t_sample_tf_${key} WHERE f_tf IN
            <foreach collection="values" open="(" separator="," close=")" item="value">
                #{value}
            </foreach>
            <if test="log2FoldChange != null and log2FoldChange != 0">
                AND (f_log2_fold_change <![CDATA[ <= ]]> #{log2FoldChange} * -1.0
                OR f_log2_fold_change <![CDATA[ >= ]]> #{log2FoldChange})
            </if>
            <if test="adjustedPValue != null and adjustedPValue != 0">
                AND f_adjusted_p_value * 1.0 <![CDATA[ <= ]]> #{adjustedPValue}
            </if>
            <if test="pValue != null and pValue != 0">
                AND f_p_value * 1.0 <![CDATA[ <= ]]> #{pValue}
            </if>
        </foreach>
    </select>
</mapper>