<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.TraitTfChunkMapper">
    <resultMap id="BaseResultMap" type="com.spring.boot.pojo.TraitTfChunk">
        <result column="f_trait_id" jdbcType="VARCHAR" property="traitId" />
        <result column="f_tf" jdbcType="VARCHAR" property="tf" />
        <result column="f_p_value" jdbcType="VARCHAR" property="pValue"/>
        <result column="f_q_value" jdbcType="VARCHAR" property="qValue"/>
    </resultMap>
    <select id="selectListByTfAndGenome" resultType="java.lang.String">
        select DISTINCT f_trait_id
        from t_trait_tf_${genome}_${signalId} WHERE f_tf = #{tf}
    </select>
    <select id="selectTraitIdByTfList" resultType="java.lang.String">
        <foreach collection="signalIdTraitTfListMap" index="key" item="values" separator=" UNION ">
            SELECT f_trait_id FROM t_trait_tf_${genome}_${key} WHERE f_tf IN
            <foreach collection="values" open="(" separator="," close=")" item="value">
                #{value}
            </foreach>
            <if test="pValue != null and pValue != 0">
                AND f_p_value * 1.0 <![CDATA[ <= ]]> #{pValue}
            </if>
            <if test="qValue != null and qValue != 0">
                AND f_q_value * 1.0 <![CDATA[ <= ]]> #{qValue}
            </if>
        </foreach>
    </select>
</mapper>
