<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.TraitGeneChunkMapper">
    <resultMap id="BaseResultMap" type="com.spring.boot.pojo.TraitGeneChunk">
        <result column="f_trait_id" jdbcType="VARCHAR" property="traitId" />
        <result column="f_gene" jdbcType="VARCHAR" property="gene" />
        <result column="f_n_snps" jdbcType="INTEGER" property="nSnps"/>
        <result column="f_p_value" jdbcType="VARCHAR" property="pValue"/>
    </resultMap>
    <select id="selectListByGeneAndGenome" resultType="java.lang.String">
        select DISTINCT f_trait_id
        from t_trait_gene_${genome}_${signalId} WHERE f_gene = #{gene}
    </select>
    <select id="selectTraitIdByGeneList" resultType="java.lang.String">
        <foreach collection="signalIdTraitGeneListMap" index="key" item="values" separator=" UNION ">
            SELECT f_trait_id FROM t_trait_gene_${genome}_${key} WHERE f_gene IN
            <foreach collection="values" open="(" separator="," close=")" item="value">
                #{value}
            </foreach>
            <if test="min != null and min != 0">
                AND f_n_snps <![CDATA[ >= ]]> #{min}
            </if>
            <if test="pValue != null and pValue != 0">
                AND f_p_value <![CDATA[ <= ]]> #{pValue}
            </if>
        </foreach>
    </select>
</mapper>
